
  <ion-grid>
    <ion-row>
        
      <ion-col col-6> 
       
          <button ion-item (click)="itemSelected($event)">
            <ion-card >
              <img src="../assets/img/card-saopaolo.png"/>
              <div class="card-title">Licores</div>
              
            </ion-card>
          </button>
        
        </ion-col>
      <ion-col col-6>
        
          <button ion-item (click)="itemSelected($event)">
            <ion-card>
              <img src="../assets/img/card-amsterdam.png"/>
              <div class="card-title">Snacks</div>
            
            </ion-card>
          </button>
      
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col col-6>
          <button ion-item (click)="itemSelected($event)">
        <ion-card>
          <img src="../assets/img/card-portland.png"/>
          <div class="card-title">Bebidas</div>
        </ion-card>
        </button>
      </ion-col>
      <ion-col col-6>
          <button ion-item (click)="itemSelected($event)">
              <ion-card>
                  <img src="../assets/img/card-madison.png"/>
                  <div class="card-title">Farmacia</div>
               </ion-card>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
